.dark-mode {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.player-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-card {
    padding: 25px;
    border: solid red 2px;
    border-radius: 5px;
    margin: 15px;
    width: 150px;
}